* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 75px;
  background-color:#616161;
  display: flex;
  align-items: center;
}
.header-img {
  background-color:#FFFF8D;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

h1 {
  color: white;
}

.main {
  background-color: #FAFAFA;
}

.content-container {
  display: flex;
}

.post-container {
  width: 70%;
}

.post {
  background-color:#EEEEEE;
  margin: 2px;
  display: flex;
}

.post-img {
  width: 30%;
  background-color: orange;
}

.post-info {
  width: 70%;
  padding: 7px;
}

.post-tags-container {
  margin-top: 15px;
}

.categories-container {
  background-color:#EEEEEE;
  width: 30%;
  margin: 2px;
  padding: 8px;
}

.categories-tag {
  margin: 10px;
}

.pagination-container {
  text-align: center;
  height: 50px;
}

.footer {
  height: 75px;
  background-color:#EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}
