* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 75px;
  background-color:#EEEEEE;
  display: flex;
  align-items: center;
}

.header-img {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.main {
  background-color:#EEEEEE;
}

.content-container {
  display: flex;
}

.post-container {
  width: 80%;
}

.post {
  background-color: #FAFAFA;
  margin: 9px;
  display: flex;
  border-radius: 25px;
}

.post-img {
  width: 183px;
  height: 180px;
  border-radius: 25px;
}

.post-info {
  width: 88%;
  padding: 7px;
}

.post-tags-container {
  margin-top: 15px;
}

.categories-container {
  background-color: #FAFAFA;
  width: 20%;
  margin-top: 9px;
  margin-right: 5px;
  margin-bottom: 9px;
  padding: 8px;
  border-radius: 25px;
  text-align: center;
}

.categories-tag {
  margin: 10px;
  text-align: left;
}

.pagination-container {
  display: flex;
  background-color:#FAFAFA;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  border-radius: 15px;
}

.pagination-button{
  border-radius: 40%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  background-color: #80CBC4;
}

.pagination-button-active {
  background-color: #00695C;
  color: white;
}

#pagination-button-back {
  height: 0px;
  width: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 15px solid transparent;
  border-right: 20px solid #80CBC4;
}

#pagination-button-forward {
  height: 0px;
  width: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 15px solid transparent;
  border-left: 20px solid #80CBC4;
}

.footer {
  height: 75px;
  background-color:#EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .content-container {
    flex-direction: column-reverse;
  }

  .categories-container, 
  .post-container {
    width: 100%;
  }

  .post {
    flex-direction: column;
  }

  .post-img {
    width: 100%;
    height: auto;
  }
}
